<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student details</title>
</head>
<body>
<form action="/add_student" method="post">
    <h2>Add student details</h2>
    roll number<input type="text" name="student_roll_no" required autofocus><br><br>
    name<input type="text" maxlength="200" name="student_name" required autofocus><br><br><br>
    date of birth<input type="date" name="student_dob" required autofocus><br><br>
    <input type="submit" value="Add">
</form>
</body>
</html>